.flex75 {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 75%;
}
.flex25 {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
}
.main {
    display: flex;
    flex-flow: row wrap;
}
.battleshipgrey {
    background-color: #878787;
}
.mountbattenpink {
    background-color: #A08794;
}
.englislavender {
    background-color: #BB7E8C;
}
.blackshadows {
    background-color: #c9b6be;
}
.thistle {
    background-color: #d1becf;
}
.flexrow {
    flex-basis: calc(100% / 3 - 8px);
    margin: 2px;
}
.border {
    border: 2px solid black;
}
.grow {
    flex-grow: 1;
}
.black {
    background-color: pink;

}
.white {
    background-color: white;

}
.height100 {
    min-height: 100px;
}
.height300 {
    min-height: 300px;
}
.height50 {
    min-height: 50px;
}
.height25 {
    min-height: 25px;
}
.column2 {
    flex-basis: calc(100% / 2 - 8px);
    margin: 2px;
}
.flexcolumn {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 75%;
    flex-grow: 1;
}
.width150 {
    min-width: 150px;
}

.padding {
    padding: 10px 10px 10px 10px ;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  .comment {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
  }