.flex75 {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 75%;
}
.flex25 {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
}
.main {
    display: flex;
    flex-flow: row wrap;
}
.battleshipgrey {
    background-color: #878787;
}
.mountbattenpink {
    background-color: #A08794;
}
.englislavender {
    background-color: #BB7E8C;
}
.blackshadows {
    background-color: #c9b6be;
    min-height: 100px;
}
.thistle {
    background-color: #d1becf;
}
.flexrow {
    flex-basis: calc(100% / 3 - 4pc);
    margin: 2px;
}
.border {
    border: 2px solid black;
}
.grow {
    flex-grow: 1;
}
.black {
    background-color: pink;
}
.white {
    background-color: white;
    min-height: 100px;
}